.sha-text {
    font-size: 12px;
    line-height: 12px;
}

header {
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

body,
.card, select, input, textarea {
    background-color: #141414 !important;
}

.card, select, input, textarea {
    border: 1px rgb(57, 57, 57) solid !important;
    color: #fff !important;
}

.form-check-input[type="checkbox"] {
    background-color: initial !important;
}

#isDowngrading {
    height: 38px; 
    width: 38px; 
    margin-top: 0px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }